body {
  margin:0;
}
.container {  
  position:absolute;
  top:5px;bottom:5px;left:0;right:0;
  margin:10px;
  color: #37474f;
  font-family: monospace;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  -webkit-flex-direction: column;
}
.row {
  padding-top:5px;
  padding-bottom:5px;
  display:block;
  width:100%;
  text-align: center;
}

.header-container {
  position:absolute;
  top:5px;
  left:0;
  right:0;
  height:160px;
  background: #090f13;
  color: #ffffff;
  border-radius: 5px 5px 0 0;
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,.4);
  -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,.4);
  -o-box-shadow: 5px 5px 10px 0px rgba(0,0,0,.4);
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,.4);
  filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,.4), Direction=134, Strength=10);
}
.controls-container {
  position:absolute;
  top:160px;
  left:0;
  right:0;
  bottom:5px;
  background-color: #ffffff;
  color: #37474f;
  border-radius: 0 0 5px 5px;
  -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,.4);
-webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,.4);
-o-box-shadow: 5px 5px 10px 0px rgba(0,0,0,.4);
box-shadow: 5px 5px 10px 0px rgba(0,0,0,.4);
filter:progid:DXImageTransform.Microsoft.Shadow(color=rgba(0,0,0,.4), Direction=134, Strength=10);
}
.media-type-container {
  display:none;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  z-index:999;
  background-color:white;
  text-align: center;
}
.media-type-container.show {
  display:block;
}
.media-type-container.show .media-type-header {
  height:15px;
  width:100%;
}
.media-type-container.show .media-type-header .close-button {
  float:right;
  margin-right:5px;
  margin-top:5px;
  font-size:10px;
  cursor:pointer;
}
.media-type-container.show .filetype-button {
  text-align: center;
  text-transform: uppercase;
  width:50px;
  height:50px;
  padding:10px;
  border-radius:50%;
  margin:20px 10px 10px 10px;
  font-size:10px;
  color:#37474f;
  border: 1px solid #37474f;
  cursor:pointer;
}
.ck-button {
  display:inline-block;
}
.ck-button.disabled, button:disabled {
  color: rgba(0,0,0, 0.2);
}
.ck-button, button {
  overflow:auto;
  color: #37474f;
  border: 0;
  max-width: 50px;
  max-height: 50px;
  padding: 10px;
  background: transparent;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  font-size: 20px;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

.ck-button:hover, button:hover {
  color: #29759b;
}

.ck-button input {
  position:absolute;
  top: -20px;
}

button:focus {
  outline: none;
  color:#28b7ff;
}

.ck-button.active {
  color: #28b7ff;
}

video {
  width:calc(100% - 20px);
  margin:10px;
}
